body {
    display: block;
    background-color: aquamarine;
    object-fit: cover;
    font-family: 'Noto Serif JP', serif;
}
h1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 19%;
    margin-top: 28%;
    font-size: x-large;
    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
    font-feature-settings: "calt";
    border: 5px;
    border-color: azure;
    background-color: azure;
    border-radius: 5px;
    border-style: groove;
    width: 58%;
    padding: 10px;
   
}

.backgroundPics{
    display: flex;
    object-fit: scale-down;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
    align-content: center;
    
  

    
  }
  
  .section {
    width: 60%;
    background-color: aquamarine;
    margin-bottom: 20px;
    border-radius: 2px;
    justify-content: center;
    overflow: hidden;
    opacity: 95%;
    align-items: center;
    align-content: center;
    border: 5px;
    border-color: azure;
    background-color: azure;
    border-radius: 5px;
    border-style: groove;
  }
  
  .section h2 {
    margin: 0;
    align-items: center;
    align-content: center;
    padding: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    text-align: center;
    opacity: 90%
  }
  
  a{
    width: 40%;
    height: 50%;
    align-items: center;
    align-content: center;
  }
  p {
    text-align: center;
    align-items: center;
    align-content: center;
  }

  
  .content {
    padding: 10px;
    display: none;
    align-items: center;
    align-content: center;
  }
  
  #resume {
  
    text-align: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
  }


  
  

  

  