body {
    display: block;
    background-color: azure;
    color: #505038;
    object-fit: cover;
    font-family: 'Noto Serif JP', serif;
}
h1{
    opacity: 95%;
    display: flex;
    justify-content: space-around;
    margin-left: 19%;
    margin-top: 28%;
    font-size: x-large;
    color: #505038;
    font-feature-settings: "calt";
    border: 2px;
    border-color: azure;
    background-color: aliceblue;
    border-radius: 2px;
    border-style: groove;
    width: 59%;
    padding: 10px;   
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    align-content: center;    
  }
  .section {
    width: 60%;
    margin-bottom: 20px;
    border-radius: 2px;
    justify-content: center;
    overflow: hidden;
    opacity: 95%;
    border: 2px;
    border-color: azure;
    background-color:  #edf5ed;
    border-style: groove;
  }
  .section h2 {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    background-color: #edf5ed;
    text-align: center;
    opacity: 90%
  }
  p {
    text-align: inherit;
  } 
  .content {
    padding: 5px;
    display: none;
    background-color: aliceblue;
    text-decoration: none;
  }
  #about-me{
    line-break: 500px;
  }
  #resume {
    text-align: center;
   
  }
  #projects {
    text-align: center;
  
  }
  #links{
    margin-top: 10px;
    word-spacing: 10px;
    font-weight: 700;
    opacity: 75%;
    border: 0 none;
    text-decoration: inherit;
    border-style: none;
  }
  .container2 {
    display: flex;
    flex-direction: column;

  }
  .container2 > img {
    width: 90%;
  }
  .container2 > h1 {
    margin-top: 1%;
    text-shadow: 1px 1px azure;
    letter-spacing: 2px;
  }
  .slideshow-container {
    display: flex;
    justify-content: space-around;
  }
  .slideshow-images {
    width: 80%;
    padding: 3px;
    box-shadow: 1px 1px azure;
  }
  .slideshow-images img {
    width: 100%;
    display: none;
  }
  .slideshow-button {
    align-self: center;
    background-color: #edf5ed;
    color: #505038;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    transition: 0.2s;
  }
  .slideshow-button:hover{
    background-color: #dcd8d8;
  }
  .slideshow-button:active{
    color: aliceblue;

  }
  .slideshow-images img:first-of-type{
    display: block;
  }

  @media only screen and (max-width: 600px) {
    h1 {
    margin-top: 10%;
    opacity: 0%;
  }
    body{
      background-size: 400px;
    }
    .content{
      font-size: small;
    }
    p{
      margin-top: 2px;
    }
    .container{
      margin-top: 200px;
    }
    #links{
    display: flex;
    flex-direction: row;
    }
  }



